extends layout

block content
    h1= title
    #drop-zone.drop-zone Для загрузки, перетащите файл сюда

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/app.js')
